<h1 class="mt-4">Dashboard</h1>
<p>Welcome, <%= user.name %>!</p>
<a href="/user/edit" class="btn btn-primary">Edit User</a>
<a href="/user/delete" class="btn btn-danger">Delete User</a>
<a href="/user/logout" class="btn btn-secondary">Logout</a>
