<h1 class="mt-5 text-center">Welcome to amazing website!</h1>
<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			<h3>Are you already a member?</h3>
			<h4>Log in so you can use all our fantastic features</h4>
			<h5>Some of them are:</h5>
			<ul class="list-group">
				<li class="list-group-item">Edit your user</li>
				<li class="list-group-item">Delete your user</li>
				<li class="list-group-item">The world is your oyster</li>
			</ul>
			<br />
			<h4>What are you waiting for?</h4>
			<br />
			<a href="/user/login" class="btn btn-success btn-block">Login</a>
		</div>
	</div>
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			<h3>Not a member?</h3>
			<h4>Register reap all of our benefits!</h4>
			<h5>Some of them are:</h5>
			<ul class="list-group">
				<li class="list-group-item">Edit your user</li>
				<li class="list-group-item">Delete your user</li>
				<li class="list-group-item">The world is your oyster</li>
			</ul>
			<br />
			<h4>What are you waiting for?</h4>
			<br />
			<a href="/user/register" class="btn btn-primary btn-block mb-2"
				>Register</a
			>
		</div>
	</div>
</div>
